@font-face {
    font-family: "publicSans-bold";
    src: url("fonts/PublicSans-Bold.ttf");
}

@font-face {
    font-family: "publicSans-regular";
    src: url("fonts/PublicSans-Regular.ttf");
}

@font-face {
    font-family: "publicSans-light";
    src: url("fonts/PublicSans-Light.ttf");
}

:root {

    --clr-Darker-Blue: rgb(32, 35, 53);
    --clr-Dark-Blue: hsl(233, 26%, 24%);
    --clr-Lime-Green: hsl(136, 65%, 51%);
    --clr-Bright-Cyan: hsl(192, 70%, 51%);

    --clr-Grayish-Blue: hsl(233, 8%, 62%);
    --clr-Light-Grayish-Blue: hsl(220, 16%, 96%);
    --clr-Very-Light-Gray: hsl(0, 0%, 98%);
    --clr-White: hsl(0, 0%, 100%);

    --ff-body: "publicSans-regular";
    --ff-heading: "publicSans-light";
    --ff-cta-btn: "publicSans-bold";

    --fs-400: 0.85rem;
    --fs-500: 1rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 1.75rem;
    --fs-900: 2rem;

}

/*--------------utility-classes--------------*/

.bg-clr-dark-blue { background-color: var(--clr-Dark-Blue);}
.bg-clr-light-grayish-blue { background-color: var(--clr-Light-Grayish-Blue);}
.bg-clr-very-light-gray { background-color: var(--clr-Very-Light-Gray);}
.bg-clr-white { background-color: var(--clr-White);}

.clr-dark-blue { color: var(--clr-Dark-Blue);}
.clr-grayish-blue { color: var(--clr-Grayish-Blue);}
.clr-light-grayish-blue { color: var(--clr-Light-Grayish-Blue);}
.clr-very-light-gray { color: var(--clr-Very-Light-Gray);}

.fs-article-author { font-size: var(--fs-400);}
.fs-article-paragraph { font-size: var(--fs-500);}
.fs-article-title { font-size: var(--fs-600);}
.fs-advantages-title { font-size: var(--fs-700);}
.fs-secondary-title { font-size: var(--fs-800);}
.fs-hero-title { font-size: var(--fs-900);}

@media (min-width: 375px) {
    :root {
        --fs-800: 2rem;
        --fs-900: 2.5rem;
    }
}

@media (min-width: 500px) {
    :root {
        --fs-900: 3.25rem;
    }
}

@media (min-width: 700px) {
    :root {
        --fs-500: 0.85rem;
        --fs-600: 1rem;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-800: 2.5rem;
        --fs-900: 2.5rem;
    }
}

@media (min-width: 1000px) {
    :root {
        --fs-400: 0.65rem;
        --fs-500: 0.75rem;
        --fs-600: 1rem;
        --fs-700: 1.5rem;
        --fs-900: 3.5rem;
    }
}

/*------------------reset------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*--------------general-styling---------------*/

:focus {outline: 0;}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    --max-width: 1150px;
    --padding: 1.75rem;

    width: min(var(--max-width), calc(100% - var(--padding)*2));
    margin-inline: auto;
}

@media (max-width: 350px) {
    .container {
        --padding: 1rem;
    }
}

.flow>*:not(:last-child) {
    margin-bottom: var(--gap, 1rem);
}

.text-position {
    text-align: center;
}

@media (min-width: 1000px) {
    .text-position {
        text-align: start;
    }
}

body {
    font-size: 18px;
    font-family: var(--ff-body);
}

@media (min-width: 800px) and (max-width: 1000px) {
    body {
        font-size: 16px;
    }
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1,
h2 {
    font-family: var(--ff-heading);
}

.cta-btn {
    position: relative;
    background-image: linear-gradient(to right, var(--clr-Lime-Green), var(--clr-Bright-Cyan));
    color: var(--clr-White);
    padding: .5em 1.75em;
    border-radius: 3rem;
}

.cta-btn:is(:hover, :focus-visible) {
    background-color: rgba(0, 255, 242);
    background-image: none;
}

.cta-btn:focus-visible {
    outline-width: 5px;
    outline-style: dotted;
    outline-color:  rgba(0, 255, 242);
    outline-offset: .15rem;

}

.d-grid {
    display: grid;
    gap: var(--g-gap,2rem);
}

@media (min-width: 700px) {
    .d-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .d-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.underline,
.underline--home {
    position: relative;
}

.underline::before,
.underline--home::before {
    content: '';
    position: absolute;
    top: calc(135% + var(--header-vertical-padding));
    left: 50%;
    width: 0;
    height: 5px;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, var(--clr-Lime-Green), var(--clr-Bright-Cyan));
    transition: width 350ms ease-in-out;
}

.underline:is(:hover, :focus-visible)::before {
    width: 115%;
}

.underline--home:focus-visible::before {
    width: 115%;
}

/*----------------header---------------*/

header {
    --header-vertical-padding: 1.5em;
    position: relative;
    z-index: 20;
    font-size: 16px;
}

.header-nav {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-vertical-padding) 0;
}

.hamburger-btn {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.hamburger-btn[aria-expanded='true'] {
    background-image: url('images/icon-close.svg');
}

@media (max-width: 799px) {
    .noscroll {
        overflow: hidden;
    }

    .backdrop {
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.473);
    }

    .hide {
        display: none;
    }

    .cta-btn--nav {
        display: none;
    }

    .main-navigation {
        position: absolute;
        top: 125%;
        width: 100%;
        background-color: var(--clr-White);
        color: var(--clr-Dark-Blue);
        border-radius: .25rem;
        z-index: 99;
    }

    .navigation-list {
        text-align: center;
        display: grid;
        gap: 1.25rem;
        padding: 2em .5em;
    }
}

@media (min-width: 800px) {
    .hamburger-btn {
        display: none;
    }

    .navigation-list {
        display: flex;
        gap: clamp(1rem, calc(2.5vw + 1px), 2.5rem);
    }
}

/*-------------hero-section------------*/

#hero-paragraph {
    max-width: 28rem;
    margin-inline: auto;
}

@media (min-width: 800px) {
    #hero-paragraph {
        margin-inline: 0;
    }
}

@media (min-width: 800px) {
    .even-columns {
      display: flex;
      gap: 2rem;
      min-height: min(38rem,50vw);
    }
  }


@media (max-width: 799px) {

    .hero-section {
        position: relative;
        overflow: hidden;
    }

    .hero-img {
        position: absolute;
        width: 100%;
        inset: 0;
    }

    .hero-bg {
        position: absolute;
        width: 100%;
        transform: translateY(-8%);
    }

    .bg-img {
        width: 100%;
    }

    .hero-mockups {
        position: relative;
        z-index: 1;
        transform: translateY(-28%);
    }

    .hero-mockups img {
        margin-inline: auto;
    }

    .hero-text {
        --gap: 1.5rem;
        text-align: center;
        padding-top: calc(95vw + 0.5rem);
        padding-bottom: 5em;
    }
}

@media (min-width: 800px) {
    .hero-section {
        position: relative;
    }

    .hero-img {
        position: absolute;
        order: 2;
        width: 55%;
        right: 0;
        overflow-x: hidden;
    }

    .hero-bg {
        position: absolute;
        transform: scale(1.5) translate(16%, -8.5%);;
    }

    .hero-mockups {
        transform: scale(.95) translate(19.65%, -15%);
        position: relative;
        z-index: 18;
    }

    .hero-text {
        width: 45%;
        height: fit-content;
        align-self: center;
    }

   .hero-text .cta-btn {
        margin-top: 1.25rem;
    }
}

/*--------------advantages-section----------*/

.advantages-section {
    padding: clamp(4em,calc(8vw+1px),7em) 0;
    position: relative;
    z-index: 15;
}

#advantages-paragraph {
    max-width: 30rem;
    margin-inline: auto;
}

@media (min-width: 1000px) {
    #advantages-paragraph {
        max-width: 40rem;
        margin-inline: 0;
    }
}

.advantages {
    --g-gap: 1.89rem;
    margin-top: 3.5em;
}

.advantage {
    --gap: 1.65rem;
    max-width: 21rem;
    margin-inline: auto;
    font-size: 16px;
}

.advantage img {
    margin-inline: auto;
  }
  
  @media (min-width: 1000px) {
    .advantage img {
      margin-inline: 0;
    }
  }

/*----------articles-section----------*/

.articles-section {
    padding: 5em 0;
}
  
#articles-title {
    margin-bottom: 1em;
}

.articles {
    --g-gap: 1.75rem;
}

@media (min-width: 800px) and (max-width: 999px) {
    .articles {
        --g-gap: 2rem;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .articles {
        --g-gap: 1.25rem;
    }
}

.article {
    border-radius: .5rem;
    overflow: hidden;
    max-width: 25rem;
    margin-inline: auto;
}

@media (min-width: 1000px) {
    .article {
        margin-inline: 0;
    }
}

.img-wrapper {
    overflow: hidden;
}

.article-img,
.article-info h3 {
    transition: transform 300ms ease-in-out;
}

.article-link:is(:hover,:focus-visible) .article-img {
    transform: scale(1.1);
}

.article-link:is(:hover,:focus-visible) .article-info h3 {
    color: var(--clr-Lime-Green);
}

.article-info {
    --gap: .55rem;
    padding: 1.75em 1.75em 2em;
}

@media (min-width: 450px) {
    .article-info {
        padding: 2em 2.5em;
    }
}

@media (min-width: 1000px) {
    .article-info {
        padding: 1em 1.5em 1.25em;
    }
}

.author {
    display: inline-block;
}

.article-img {
    width: 100%;
    aspect-ratio: 1.75;
    object-fit: cover;
}

@media (min-width: 1000px) {
    .article-img {
        aspect-ratio: 1.25;
    }
}

/*---------------footer--------------*/

footer {
    font-size: 15px;
    padding: 2em 0;
    font-family: var(--ff-heading);
}
  
@media (min-width: 1000px) {
    footer {
      padding: 3em 0 2em;
    }
}

.footer-columns {
    display: grid;
    gap: 2.5rem;
    place-items: center;
}
  
@media (min-width: 1000px) {
    .footer-columns {
      grid-template-columns: 1fr 2fr 1fr;
      place-items: start;
    }
}

.socials {
    display: grid;
    gap: 1.25rem;
    justify-content: center;
}

@media (min-width: 1000px) {
    .socials {
        gap: 2.25rem;
        justify-content: start;
    }
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social-link {
    transition: all 350ms ease-in-out;
}

.social-link svg {
    fill: #FFFFFF;
}

.social-link:is(:hover, :focus-visible) svg{
    fill: #31d35c;
}

.footer-nav {
    --gap: .75rem;
}

@media (min-width: 1000px) {
    .footer-nav {
      columns: 2;
      column-gap: 6em;
    }
}

.footer-nav a:is(:hover, :focus-visible) {
    color: var(--clr-Lime-Green);
}

@media (min-width: 1000px) {
    .footer-cta {
      text-align: end;
      justify-self: end;
    }
}